* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.music-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.bg-image {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  padding: 30px;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 45px;
  margin-bottom: 0px;
}
.heading-no-found {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 45px;
  margin-bottom: 0px;
  text-align: center;
}
.para {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
  margin-bottom: 10px;
}
.text-content {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.blue-bottom {
  background-color: #152850;
  width: 100%;
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}
.no-songs-container {
  background-color: #152850;
  width: 100%;
  height: 50vh;
}
.search-song-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.songs {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 26px;
  margin-bottom: 10px;
}
.input {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: transparent;
  padding-left: 5px;
  width: 300px;
  margin-top: 10px;
  border-radius: 5px;
  height: 30px;
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.search-btn {
  border: 1px solid #ffffff;
  background: none;
  cursor: pointer;
  outline: none;
  height: 30px;
  padding: 5px;
  margin-top: 10px;
}
.unorder-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 40vh;
}
